:root{
	--color-black: #111111;
};
body{
	font-family: sans-serif;
}
img{
	max-width: 100%;
	display: block;
}
.container{
	padding: 0 20px;
}
.navigation__top-line{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 60%;
	text-decoration: none;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo__title{
	font-family: 'Oswald';
	font-size: 20px;
	margin: 24px 0;
	text-transform: uppercase;
}
.toggle,
.toggle:before,
.toggle:after{
	display: block;
	width: 24px;
	height: 2px;
	background: var(--color-black);
}
.toggle:before,
.toggle:after{
	content: '';
	display: block;
	position: relative;
}
.toggle:before{
	top: -6px;
}
.toggle:after{
	top: 4px;
}
.navigatin__list{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.navigation__item{
	padding: 26px 0;
	border-top: 1px solid #e6e6e6;
}
.navigation__link{
	font-family: 'Oswald';
	text-align: center;
	text-transform: uppercase;
	color: var(--color-black);
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
}
.navigation__link:hover{
	color: #68b738;
}

/*-----First -section------*/
.food-preview{
	position: relative;
	background: url('../img/section-bg-mobile.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	min-height: 306px;
}
.main-header{
	margin: 0;
	padding: 40px 0 10px 0;
	text-align: center;
	font-family: 'Oswald';
	font-size: 36px;
	font-weight: normal;
	color: #fff;
}
.section-title{
	text-align: center;
	font-family: 'Oswald';
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}
.food-image{
	position: absolute;
	width: 280px;
	height: auto;
	left: 50%;
	transform: translateX(-50%);
}
.btn{
	display: block;
	width: 100%;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald';
	font-size: 14px;
	color: #fff;
	background-color: #68b738;
	border: 1px solid transparent;
	transition: .3s ease;
}
.btn:hover{
	color: #68b738;
	background-color: #fff;
	border: 1px solid #68b738;
}
.button-program{
	margin-top: 140px;
}

.programms{
	margin-top: 20px;
}
.programms-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.proramms-item{
	margin-top: 20px;
	padding: 20px;
	background-color: #f2f2f2;
}
.proramms-item:first-child{
	margin-top: 0;
}
.programms-header{
	display: flex;
	align-items: center;
}
.programms-icon{
	margin: 0 20px 20px 0;
}
.programms-name{
	text-transform: uppercase;
	font-family: 'Oswald';
	font-size: 24px;
	color: #000;
}
.programms-desc{
	margin: 0 0 20px 0;
	padding-bottom: 20px;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 1.286em;
	color: #444;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.more-btn{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald';
	font-size: 16px;
	color: #000;
}
.more-btn:hover{
	text-decoration: underline;
}
.more-btn:after{
	content:'';
	display: inline-block;
	width: 24px;
	height: 11px;
	margin-left: 15px;
	background: url(../img/icon/arrow.png);
}
/*-----Section-Second------*/
.section-header{
	margin: 40px 0;
	font-family: 'Oswald';
	font-size: 36px;
	font-weight: normal;
}
.advantages-list{
	margin: 20px 0;
	padding: 0;
	list-style: none;
}
.advantages-item{
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: left;
}

.advantages-icon{
	margin-right: 20px;	
}
.advantages-desc{
	font-family: 'Arial';
	font-size: 14px;
	line-height: 1.286em;
	color: #444;
}